/* CSS declarations go here */
body {
  font-family: sans-serif;
  /*background-color: #315481;*/
  background-image: url('http://img4.imgtn.bdimg.com/it/u=2279976916,2960793820&fm=21&gp=0.jpg');
  /*background-attachment: fixed;*/

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
  opacity: .9;
}

header {
/*  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);*/
  height: 88px;
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}

.userName {
  padding-top: .5em;
  border-bottom: 0.5px solid rgba(255, 0, 0, .1);;
  height:3em;
  font-family: sans-serif;
  text-align: center;
  vertical-align: middle;
}
.user-list, .chat-list{
  overflow-y: scroll;
  height: 369px;
}
.chatwrapper{
  display: block;
  height: 30px;
  margin: 10px;
}

.chatwrapper > div{
    background-color: #B2E281;
    line-height: 30px;
    color: black;
    max-width: 200px;
    float: left;
    min-width: 50px;
    text-align: center;
    border-radius: 2px;
    word-wrap: break-word;
    word-break: break-all;
}

.chatInput input {
  width: 100%;
  height:47px;
}

.chatwrapper > div.right {
  float: right;
}

.abc {
  background-color: #79D2EC;
}

